.box{
    background-color: var(--main-color);
    width: 140px;
    border-radius: 10px;
    height: 100px;  
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 201;
    right: 0;
    color: #ffffff;
    font-weight: bold;
    // display: none;
}